.contact-us {
  font-family: 'Eczar', serif;
  color: rgba(185, 113, 113);
  text-align: center;
  margin-top: 1em;  
}

p.contact-us {
  font-family: 'Eczar', serif;
  color: rgb(24, 19, 19);
  margin: auto;
  max-width: 500px;
  padding: 2px;
  text-align: justify;
}

.contact-us span {
  display: block;
  margin-bottom: 40px;
}
