.banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 10%;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 113, 113, 0.219);
  z-index: 1;
}

.about-us {
  font-family: 'Eczar', serif;
  color: rgba(185, 113, 113);
  text-align: center;
  margin-top: 2em;
  
}

p.about-us {
  font-family: 'Kaisei Decol';
  color: rgb(114, 114, 114);
  margin: auto;
  max-width: 500px;
  padding: 25px;
  text-align: justify;
}
.about-us span{
  display: block;
  margin-bottom: 40px;
}


h1.about-us {
  font-family: 'Eczar', serif;
  color: rgba(185, 113, 113);
  font-size: 3em;
}

.fa-brands a{
  padding: 5px;
  text-align: 'Eczar', serif !important;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  color: rgba(185, 113, 113)
}

.fa-brands span {
  font-family: 'Eczar';
}