.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: rgb(185, 113, 113);
}

.main-navigation__title {
  color: white;
}

.main-navigation__title a {
  text-decoration: none;
  font-family: 'Eczar', serif;
  color: rgb(185, 113, 113);
}
/*background-color: rgb(241, 241, 239);*/

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

/* This code is used to have the button appear based on the width of the page. the code within overrides the display property from above */
@media (min-width: 930px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}